:root{

  --mainGreen: #2C6700;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainGrey:#e1e8e3;
}

body{
  background-color: var(--mainWhite) !important;
  /* letter-spacing: 0.4rem !important; */
  font-family:cursive !important;
  font:var(--mainWhite);
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--mainGreen);
}
.text-subtitle{
  font-family: 'Alegreya Sans SC', sans-serif;
font-size: 1rem;
letter-spacing: 0.2rem;

}